In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('df_news_translators.csv')
df

,Unnamed: 0,idx,burmese,english,source,status
0,0,idx_0,Local တွေ ရဲ့ အ ခက် အ ခဲ က လှုပ် ရှား မှု ကို ...,The difficulty of the locals is that only when...,HA,news
1,1,idx_1,NLD ကို ပဲ ဦး တည် တော့ ဘယ် သူ လက် ရာ လဲ ရှင်း ...,It's clear whose doing is this. It's directed ...,HA,news
2,2,idx_4,ကျွန် တော် တို့ ရဲ့ လုံ ခြုံ ရေး နဲ့ အ လုပ် သ ...,We protest the Food Panda company to get full ...,HA,news
3,3,idx_7,စစ် ကောင် စီ က နေ ရာ သုံး လေး နေ ရာ ကို တစ် ပြ...,The SAC is doing offensives to 3 or 4 places a...,HA,news
4,4,idx_8,ဇီး ဖြူ ကုန်း က စစ် အုပ် စု စ ခန်း ကို နေ့ လယ်...,We started attacking the SAC military base thi...,HA,news
...,...,...,...,...,...,...
97062,1995,idx_8289_10,"မနက်ဖြန်လောက်မှ ကျော်လို့ရမယ်လို့ ပြောတယ်""ဟု ၎...",He said that it should be across tomorrow.,TGT,news
97063,1996,idx_8291_1,ရှမ်းပြည်နယ် တောင်ပိုင်း နန်းမူကျေးရွာမှာ စစ်ရ...,A man who is avoiding the war in Nan Mu villag...,TGT,news
97064,1997,idx_8291_2,‘’ကျနော်တို့ဒုက္ခ ရောက်နေတာ နှစ်လတောင်ရှိပြီ ၊...,It has been two months we are in trouble and w...,TGT,news
97065,1998,idx_8291_3,ခုလည်း ဆီဆန်တွေကတော့ ၃ရက်စာလောက် ပဲကျန်တယ် ။,Now the rice and oil are only left for three d...,TGT,news
97066,1999,idx_8291_8,ဟင်းသီးဟင်းရွက်တွေကအစ ဝယ်စားနေရပါတယ် ။,We are buying and eating including vegetables.,TGT,news

In [4]:
df = df.filter(['burmese', 'english'], axis=1)
df

,burmese,english
0,Local တွေ ရဲ့ အ ခက် အ ခဲ က လှုပ် ရှား မှု ကို ...,The difficulty of the locals is that only when...
1,NLD ကို ပဲ ဦး တည် တော့ ဘယ် သူ လက် ရာ လဲ ရှင်း ...,It's clear whose doing is this. It's directed ...
2,ကျွန် တော် တို့ ရဲ့ လုံ ခြုံ ရေး နဲ့ အ လုပ် သ ...,We protest the Food Panda company to get full ...
3,စစ် ကောင် စီ က နေ ရာ သုံး လေး နေ ရာ ကို တစ် ပြ...,The SAC is doing offensives to 3 or 4 places a...
4,ဇီး ဖြူ ကုန်း က စစ် အုပ် စု စ ခန်း ကို နေ့ လယ်...,We started attacking the SAC military base thi...
...,...,...
97062,"မနက်ဖြန်လောက်မှ ကျော်လို့ရမယ်လို့ ပြောတယ်""ဟု ၎...",He said that it should be across tomorrow.
97063,ရှမ်းပြည်နယ် တောင်ပိုင်း နန်းမူကျေးရွာမှာ စစ်ရ...,A man who is avoiding the war in Nan Mu villag...
97064,‘’ကျနော်တို့ဒုက္ခ ရောက်နေတာ နှစ်လတောင်ရှိပြီ ၊...,It has been two months we are in trouble and w...
97065,ခုလည်း ဆီဆန်တွေကတော့ ၃ရက်စာလောက် ပဲကျန်တယ် ။,Now the rice and oil are only left for three d...
97066,ဟင်းသီးဟင်းရွက်တွေကအစ ဝယ်စားနေရပါတယ် ။,We are buying and eating including vegetables.

In [5]:
df.isnull().sum()

burmese    2
english    0
dtype: int64

In [6]:
df[df.burmese.isnull()]

      burmese                                            english
53295     NaN  “We condemn such /unjust/lawless/ arrest,” he ...
79303     NaN                    In the current situation, China

In [7]:
df.dropna(inplace=True)
df.isnull().sum()

burmese    0
english    0
dtype: int64

In [8]:
df[df.burmese.str.contains('//')]

,burmese,english
23,2008 ကို ဖျက် ပြီ ပြီ ဆို တော့ လွှတ် တော် က ကျ...,As we have already abolished the 2008 constitu...
27,Company က သိပ် ကြီး လွန်း တယ် // အ ခု လောက် sa...,The company is too big. // Currently Total and...
45906,ဒဏ်ရာရတဲ့နှစ်ဦးက တစ်ဦး ပြင်းထန်တယ်လို့ သိရတယ် ...,We know the two people's injuries were intense...
45907,အဲဒီလောက်ကြီးမဟုတ်ပါဘူး // မပြင်းထန်ပါဘူး။,It's not that big. // It isn't serious.
45919,ဒါကို ဖိနှိပ်ဖို့အတွက် တရားစွဲတာကို လက်မခံပါဘူ...,We don't accept their oppression of filing a c...
45922,ကျွန်တော်တို့ကို သူခိုး၊ ကြမ်းပိုးတွေလို မဖမ်း...,Don't arrest us like thieves. // You can file ...

In [9]:
df[df.english.str.contains('//')]

,burmese,english
27,Company က သိပ် ကြီး လွန်း တယ် // အ ခု လောက် sa...,The company is too big. // Currently Total and...
1038,ဒီစီမံကိန်းဘယ်လိုလဲဆိုတော့ အရင်ခေတ်ကလိုပေါ့ ဥက...,Why this project? // It's because it's like th...
17129,စစ် ခွေး တို့ ရဲ ဝင် ငွေ များ ဖြတ် တောက် ရ မည်...,The income of soldiers and polices should be c...
17147,စစ် အာ ဏာ ရှင် တော် လှန် ရေး အ လွန် ကောင်း သည့...,The military council is trying to gain Kale To...
17157,ဆင်း လိုက် ပါ တော့ ဒီ တာ ဝန် ကို မ ထမ်း နိုင် ...,Get off.// If you cannot take responsibilities...
...,...,...
80938,နောက်တကြိမ်ဆွေးနွေး ပွဲလုပ်ဖို့၊ နောက် တကြိမ်ဆ...,It was to do another discussion // The next di...
81016,ကိုးကန့်ကို သွားတိုက်တာ ကိုးကန့်ကို အရင်သွားတိ...,They went and attacked Koe Kant // Koe Kant di...
81073,မြေကြီးတောင် တုန်သွားတယ်ပြောတယ်၊ ဗုံးပေါက်ကွဲပ...,It is said that even the ground shook//After t...
86137,"Topics:NUG, ကားဖြင့်ဝင်တိုက်ဖြိုခွင်းခြင်း, စစ...",Topics: NUG // Car Crash Murdering // SAC // D...
89936,ရွှေတွေ၊ ငွေတွေ ယူသွားတာပေါ့၊ ဒါတွေက တိုက်ပွဲဖ...,They took gold and money of course. // These a...

In [16]:
def augment_df(df):
    burmese_list = []
    english_list = []
    for i in range(len(df)):
        if len(df.burmese.iloc[i].split("//")) == len(df.english.iloc[i].split("//")):
            for j in range(len((df.burmese.iloc[i].split("//")))):
                burmese_list.append(df.burmese.iloc[i].split("//")[j])
                english_list.append(df.english.iloc[i].split("//")[j])
    data_frame = {"burmese": burmese_list, "english": english_list}
    df_align = pd.DataFrame(data_frame)
    return df_align

In [17]:
df_align = augment_df(df)
df_align

,burmese,english
0,Local တွေ ရဲ့ အ ခက် အ ခဲ က လှုပ် ရှား မှု ကို ...,The difficulty of the locals is that only when...
1,NLD ကို ပဲ ဦး တည် တော့ ဘယ် သူ လက် ရာ လဲ ရှင်း ...,It's clear whose doing is this. It's directed ...
2,ကျွန် တော် တို့ ရဲ့ လုံ ခြုံ ရေး နဲ့ အ လုပ် သ ...,We protest the Food Panda company to get full ...
3,စစ် ကောင် စီ က နေ ရာ သုံး လေး နေ ရာ ကို တစ် ပြ...,The SAC is doing offensives to 3 or 4 places a...
4,ဇီး ဖြူ ကုန်း က စစ် အုပ် စု စ ခန်း ကို နေ့ လယ်...,We started attacking the SAC military base thi...
...,...,...
96283,"မနက်ဖြန်လောက်မှ ကျော်လို့ရမယ်လို့ ပြောတယ်""ဟု ၎...",He said that it should be across tomorrow.
96284,ရှမ်းပြည်နယ် တောင်ပိုင်း နန်းမူကျေးရွာမှာ စစ်ရ...,A man who is avoiding the war in Nan Mu villag...
96285,‘’ကျနော်တို့ဒုက္ခ ရောက်နေတာ နှစ်လတောင်ရှိပြီ ၊...,It has been two months we are in trouble and w...
96286,ခုလည်း ဆီဆန်တွေကတော့ ၃ရက်စာလောက် ပဲကျန်တယ် ။,Now the rice and oil are only left for three d...
96287,ဟင်းသီးဟင်းရွက်တွေကအစ ဝယ်စားနေရပါတယ် ။,We are buying and eating including vegetables.

In [19]:
df_align[df_align.burmese.str.contains('//')]

Empty DataFrame
Columns: [burmese, english]
Index: []

In [20]:
df_align[df_align.english.str.contains('//')]

Empty DataFrame
Columns: [burmese, english]
Index: []

In [21]:
from utils_all.data_cleaning import data_cleaning


cleaner =  data_cleaning()

In [33]:
df_align['burmese'] = df_align.burmese.apply(lambda x: cleaner.clean_text_data(x)[1])
df_align

,burmese,english
0,Local တွေ ရဲ့ အ ခက် အ ခဲ က လှုပ် ရှား မှု ကို ...,The difficulty of the locals is that only when...
1,NLD ကို ပဲ ဦး တည် တော့ ဘယ် သူ လက် ရာ လဲ ရှင်း ...,It's clear whose doing is this. It's directed ...
2,ကျွန် တော် တို့ ရဲ့ လုံ ခြုံ ရေး နဲ့ အ လုပ် သ ...,We protest the Food Panda company to get full ...
3,စစ် ကောင် စီ က နေ ရာ သုံး လေး နေ ရာ ကို တစ် ပြ...,The SAC is doing offensives to 3 or 4 places a...
4,ဇီး ဖြူ ကုန်း က စစ် အုပ် စု စ ခန်း ကို နေ့ လယ်...,We started attacking the SAC military base thi...
...,...,...
96283,မ နက် ဖြန် လောက် မှ ကျော် လို့ ရ မယ် လို့ ပြော...,He said that it should be across tomorrow.
96284,ရှမ်း ပြည် နယ် တောင် ပိုင်း နန်း မူ ကျေး ရွာ မ...,A man who is avoiding the war in Nan Mu villag...
96285,ကျ နော် တို့ ဒုက္ခ ရောက် နေ တာ နှစ် လ တောင် ရှ...,It has been two months we are in trouble and w...
96286,ခု လည်း ဆီ ဆန် တွေ က တော့ 3 ရက် စာ လောက် ပဲ ကျ...,Now the rice and oil are only left for three d...
96287,ဟင်း သီး ဟင်း ရွက် တွေ က အ စ ဝယ် စား နေ ရ ပါ တ...,We are buying and eating including vegetables.

In [35]:
df_align.isnull().sum()

burmese    0
english    0
dtype: int64

In [36]:
from sklearn.model_selection import train_test_split

In [37]:
train, test = train_test_split(df_align, test_size=0.2)

In [39]:
valid, test = train_test_split(test, test_size=0.5)

In [41]:
train.to_csv('train.csv', index=False)

In [42]:
valid.to_csv('valid.csv', index=False)

In [43]:
test.to_csv('test.csv', index=False)

In [14]:
df[df.burmese.str.contains(r'(\_|\@|\+|\*|\#|\^|\~|\/|[\n]|[\t])')]

C:\Users\Phone Myint Naing\AppData\Local\Temp\ipykernel_18240\2382431565.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[df.burmese.str.contains(r'(\_|\@|\+|\*|\#|\^|\~|\/|[\n]|[\t])')]

Empty DataFrame
Columns: [Unnamed: 0, burmese, english, mm_threshold, en_threshold]
Index: []

In [15]:
df[df.english.str.contains(r'(\_|\@|\+|\*|\#|\^|\~|\/|[\n]|[\t])')]

C:\Users\Phone Myint Naing\AppData\Local\Temp\ipykernel_18240\417918665.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[df.english.str.contains(r'(\_|\@|\+|\*|\#|\^|\~|\/|[\n]|[\t])')]

Empty DataFrame
Columns: [Unnamed: 0, burmese, english, mm_threshold, en_threshold]
Index: []

In [16]:
df[df.burmese.str.contains('@')]

Empty DataFrame
Columns: [Unnamed: 0, burmese, english, mm_threshold, en_threshold]
Index: []

In [17]:
df[df.burmese.str.contains(r'[0-9]+')]

,Unnamed: 0,burmese,english,mm_threshold,en_threshold
77,77,ဒါ ပေ မယ့် ငါ ဘာ လုပ် ရ မ လဲ - ဟင်း 1 ဒေါ် လာ ...,But what could I do--ohwhat could I do with a ...,0.888889,1.0
253,253,မ နက် ဖြန် နေ က မ နက် 6 . 30 မှာ ထွက် မယ် ။,The sun will rise at 6.30 tomorrow.,0.785714,1.0
258,258,မ နက် ဖြန် နေ့ လယ် မှာ ကျွန် တော် တို့ 3 နာ ရီ...,Tomorrow afternoon we're going to play tennis ...,0.923077,1.0
260,260,မ နက် ဖြန် နံ နက် 6 နာ ရီ မှာ ကျွန် တော့် ကို ...,Please call me at 6 tomorrow morning,0.928571,1.0
296,296,မ နက် ဖြန် မ နက် 5 နာ ရီ မှာ လာ ခေါ် ဖို့ မ မေ...,Don't forget to wake me up at five o'clock tom...,0.937500,1.0
...,...,...,...,...,...
919981,926030,အ သက် က 3 0 ကျော် ရင် မ ရ ဘူး လား ဟင်,Can't it be applied if the age is over 30?,0.833333,1.0
920337,926386,လား ရှိုး က ရပ် ကွက် 9 ကို ပို့ လို့ မ ရ တာ လာ...,Isn't it possible to send to the 9th ward of L...,0.928571,1.0
920988,927037,တာ မွေ နဲ့ ပု ဇွန် တောင် မြို့ တွင်း တောင် 1 1...,It takes 11 days even from Tamwe to Pazundaung.,0.857143,1.0
921048,927097,တာ ချီ လိတ် ကို 2 ဆင့် ပို ပို့ နေ ရ တော့ အ ဆင...,"As it has to be sent in transit to Tachileik, ...",0.937500,1.0
921819,927868,ကျ မ လည်း မြ ဝ တီ ကို ပို့ ထား တာ 2 ရက် နေ့ ခု...,"Me too. I also sent to Myawaddy on 2nd day, an...",0.950000,1.0

In [18]:
df[df.english.str.contains(r'[0-9]+')]

,Unnamed: 0,burmese,english,mm_threshold,en_threshold
253,253,မ နက် ဖြန် နေ က မ နက် 6 . 30 မှာ ထွက် မယ် ။,The sun will rise at 6.30 tomorrow.,0.785714,1.0
258,258,မ နက် ဖြန် နေ့ လယ် မှာ ကျွန် တော် တို့ 3 နာ ရီ...,Tomorrow afternoon we're going to play tennis ...,0.923077,1.0
260,260,မ နက် ဖြန် နံ နက် 6 နာ ရီ မှာ ကျွန် တော့် ကို ...,Please call me at 6 tomorrow morning,0.928571,1.0
297,297,မ နက် ဖြန် မ နက် 9 30 ခင် ဗျား လာ နိုင် မ လား,Can you come at 9 30 a.m tomorrow ?,0.846154,1.0
298,298,မ နက် ဖြန် မ နက် 9 30 ခင် ဗျား လာ နိုင် မ လား ။,Can you come at 9 30 a.m. Tomorrow ?,0.857143,1.0
...,...,...,...,...,...
921690,927739,ထ က နှစ် ကျောင်း အ နီး ဦး ဆုတ် ရပ် ကွက်,"Near No.(2) Basic Education High School, U-Sot...",1.000000,1.0
921716,927765,တောင် ဒ ဂုံ နှစ် ဆယ့် ငါး ရပ် ကွက် ဖက် အ နီး ဆ...,I would like to know the address of the neares...,1.000000,1.0
921717,927766,တောင် ဒ ဂုံ ခု နှစ် ဆယ့် တစ် ထဲ မှာ ရော ရုံး ခ...,Is there also an office branch in the 71st of ...,1.000000,1.0
921808,927857,ကျိုင်း တုံ က နေ ပု သိမ် ကို ပို့ ဖို့ ဆယ့် တစ...,The parcels from Keng-Tung to Pathein were pic...,1.000000,1.0
921819,927868,ကျ မ လည်း မြ ဝ တီ ကို ပို့ ထား တာ 2 ရက် နေ့ ခု...,"Me too. I also sent to Myawaddy on 2nd day, an...",0.950000,1.0

In [20]:
df[df.burmese.duplicated()]

,Unnamed: 0,burmese,english,mm_threshold,en_threshold
82,82,ဖြူ ဖွေး တဲ့ လက် ညှိုး လေး နဲ့ ချည် ထား တဲ့ ကြ...,White fingers and nimble tore at string and paper,1.0,1.0
276,276,မ နက် ဖြန် ဘာ နေ့ လဲ ။,What day is tomorrow?,1.0,1.0
585,585,သူ မ ကျေ နပ် နေ ပုံ ပါ ပဲ ။,She seems satisfied.,1.0,1.0
819,819,သူ မ ခြံ ထဲ ဆင်း သွား တယ် ၊ ဆီ အိုး ထဲ မှာ ဆီ ...,She went down to the courtyard and knocked on ...,1.0,1.0
1063,1063,သူ မ စိတ် ပျက် အား လျှော့ သွား လိမ့် မယ် ။,She will discourage.,1.0,1.0
...,...,...,...,...,...
920819,926868,ဝန် ထမ်း ခေါ် သေး လား ရှင့်,Is it still calling applicants?,1.0,1.0
921091,927140,စေ တ နာ နဲ့ ပြော တာ ပါ,I am telling altruistically.,1.0,1.0
921127,927176,စိတ် ချ ရ လား,Is it trusted?,1.0,1.0
921174,927223,စိတ် ပျက် တယ်,I feel so disappointed.,1.0,1.0
921222,927271,ဈေး လေး သိ ချင် ပါ တယ်,I want to know the price.,1.0,1.0

In [21]:
from utils_all.data_cleaning import data_cleaning


cleaner =  data_cleaning()

In [24]:
df['syll', 'status'] = df_all.burmese.apply(lambda x: cleaner.clean_text_data(x)[1:3])
df

,burmese,english,"(syll, status)"
0,Local တွေ ရဲ့ အ ခက် အ ခဲ က လှုပ် ရှား မှု ကို ...,The difficulty of the locals is that only when...,(Local တွေ ရဲ့ အ ခက် အ ခဲ က လှုပ် ရှား မှု ကို...
1,NLD ကို ပဲ ဦး တည် တော့ ဘယ် သူ လက် ရာ လဲ ရှင်း ...,It's clear whose doing is this. It's directed ...,(NLD ကို ပဲ ဦး တည် တော့ ဘယ် သူ လက် ရာ လဲ ရှင်း...
2,ကျွန် တော် တို့ ရဲ့ လုံ ခြုံ ရေး နဲ့ အ လုပ် သ ...,We protest the Food Panda company to get full ...,(ကျွန် တော် တို့ ရဲ့ လုံ ခြုံ ရေး နဲ့ အ လုပ် သ...
3,စစ် ကောင် စီ က နေ ရာ သုံး လေး နေ ရာ ကို တစ် ပြ...,The SAC is doing offensives to 3 or 4 places a...,(စစ် ကောင် စီ က နေ ရာ သုံး လေး နေ ရာ ကို တစ် ပ...
4,ဇီး ဖြူ ကုန်း က စစ် အုပ် စု စ ခန်း ကို နေ့ လယ်...,We started attacking the SAC military base thi...,(ဇီး ဖြူ ကုန်း က စစ် အုပ် စု စ ခန်း ကို နေ့ လယ...
...,...,...,...
97062,"မနက်ဖြန်လောက်မှ ကျော်လို့ရမယ်လို့ ပြောတယ်""ဟု ၎...",He said that it should be across tomorrow.,NaN
97063,ရှမ်းပြည်နယ် တောင်ပိုင်း နန်းမူကျေးရွာမှာ စစ်ရ...,A man who is avoiding the war in Nan Mu villag...,NaN
97064,‘’ကျနော်တို့ဒုက္ခ ရောက်နေတာ နှစ်လတောင်ရှိပြီ ၊...,It has been two months we are in trouble and w...,NaN
97065,ခုလည်း ဆီဆန်တွေကတော့ ၃ရက်စာလောက် ပဲကျန်တယ် ။,Now the rice and oil are only left for three d...,NaN
97066,ဟင်းသီးဟင်းရွက်တွေကအစ ဝယ်စားနေရပါတယ် ။,We are buying and eating including vegetables.,NaN